.bar {
  fill: rgb(80, 66, 156);
}

.highlight {
  fill: rgb(201, 94, 86);
}

.val {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
}

select { 
  width: 220px; 
  text-align-last: center; 
}
